body {
  background-color: #eee;
}

.skor {
  position: absolute;
  left: 5px;
}

.negatif {
  color: red;
  font-weight: bolder;
}

.positif {
  color: blue;
  font-weight: bolder;
}

.game-control {
  position: absolute;
  top: 60px;
  left: 5px;
}

button {
  color: blue;
  box-sizing: border-box;
  border-radius: 5px;
}

button:disabled {
  color: red;
}

.active {
  border: 2px solid green;
}
